<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Room Service</key>
	<dict>
		<key>BreakFast Menu</key>
		<dict>
			<key>breakFast</key>
			<dict>
				<key>***American Scramble; two eggs scrambled, hash browns, choice of breakfast meat and breakfast breads; </key>
				<dict/>
				<key>Buttermilk Pancakes severed served with  your choice of syrup  and fresh fruit </key>
				<dict/>
				<key> American Scramble; two eggs scrambled, hash browns, choice of breakfast meat and breakfast breads</key>
				<dict/>
				<key>Steel-Cut Organic Irish Oatmeal brown sugar, raisins, milk</key>
				<dict/>
				<key>**Omelet with whole or egg whites severed served with choice of:</key>
				<dict/>
				<key>Bagel with cream cheese  </key>
				<dict/>
				<key>Mushroom Riosott</key>
				<dict/>
				<key>Full_Break_Fast</key>
				<dict/>
			</dict>
		</dict>
		<key>Lunch Menu</key>
		<dict>
			<key>Lunch 3</key>
			<string>Thali</string>
			<key>Lunch 2</key>
			<string>Dosa</string>
			<key>Lunch 1</key>
			<string>Uthapam</string>
		</dict>
		<key>Dinner Menu</key>
		<dict>
			<key>Dinner 2</key>
			<string>Idly Sambar</string>
			<key>Dinner 1</key>
			<string>Vada Sambar</string>
		</dict>
	</dict>
	<key>Poolside Service</key>
	<dict>
		<key>BreakFast Menu </key>
		<dict>
			<key>breakFast 8</key>
			<string>*** All America Breakfast; Two eggs any style choice of breakfast meat, breakfast breads, coffee and juice </string>
			<key>breakFast 7</key>
			<string>Buttermilk Pancakes severed served with  your choice of syrup  and fresh fruit </string>
			<key>breakFast 6</key>
			<string> American Scramble; two eggs scrambled, hash browns, choice of breakfast meat and breakfast breads</string>
			<key>breakFast 5</key>
			<string>Steel-Cut Organic Irish Oatmeal brown sugar, raisins, milk</string>
			<key>breakFast 1 </key>
			<string>**Omelet with whole or egg whites severed served with choice of:</string>
			<key>breakFast 2</key>
			<string>Bagel with cream cheese  </string>
			<key>breakFast 3</key>
			<string>Mushroom Riosott</string>
			<key>breakFast 4</key>
			<string>Full_Break_Fast</string>
		</dict>
		<key>Beverages Menu</key>
		<dict>
			<key>Beverges 3</key>
			<string>Mango Juice</string>
			<key>Beverges 2</key>
			<string>Pine Apple Juice</string>
			<key>Beverges 1</key>
			<string>Orange Juice</string>
		</dict>
	</dict>
	<key>Lobby Service</key>
	<dict>
		<key>Welcome Menu</key>
		<dict>
			<key>Welcome 2</key>
			<string>water</string>
			<key>Welcome 1</key>
			<string>Chocolates</string>
		</dict>
	</dict>
</dict>
</plist>
